<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <h4>Soy un h4</h4>

    <h1>El título de nuestro documento</h1>
    
    <h2>Un subtítulo</h2>
    <img scr="/images/cafe.jpg" alt="">
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi obcaecati inventore, nemo deleniti consectetur aliquid, nam sapiente odit neque consequuntur assumenda enim maiores. Corrupti soluta rerum, placeat tempore cupiditate omnis!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui fugiat voluptates quo cum pariatur, repellat aut eos, assumenda molestiae ipsum error odit deserunt tempore odio natus eum obcaecati officia ad?</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href="https://www.google.com">Ir a Google</a>

</body>
</html>